.App {
  text-align: center;
  background-image: linear-gradient(to bottom ,#18aaf3,#00e5ff);
  color: #3f51b5;
}
a{
  text-decoration: none;
  color: #1565c0;
}
li{
  list-style-type: none
}
img{
border:1px solid#0d47a1;
}
.opacitybox{
  background-color: #18aaf3;
  box-shadow: 0 0 5px 1px #18aaf3;
  opacity: .9;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-image: url('./images/Backgroundtropical.jpg');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.contactlist{
  list-style-type: none;
}
.contactlistdiv{
  width: 250px;
  height: 250px;
  background:#00e5ff;
  border-radius: 50%;
  text-align: center;

}
li{
  color: #1565c0; 
}
.fermin{
  text-align: center;
  color:#212121;
  font-family: Trajan Pro;
  font-size: 72px;
}
.profilephoto{
  border-radius: 50px 50px / 50px;
}
.profilephotobackground{
  width: 350px;
  height: 350px;
  background:#00e5ff;
  border-radius: 50%;
  align-content: center
}
.quote{
  text-align: center;
  color: #212121;
  font-family: Trajan Pro;
  font-size: 36px;
}
.papercolors{
  background-image: linear-gradient(to bottom ,#18aaf3,#18aaf3);
  opacity: .9;
  font-family: Trajan Pro;
}